<%= render 'shared/banner_index' %>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-6">
        <%= link_to cocktail_path(cocktail) do%>
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://picsum.photos/4/400/?random');">
        <div class="card-description">
          <h5><%= cocktail.name %></h5>
          <!-- <p>Very cool city, the best</p> -->
        </div>
        </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

