<div class="footer">
  <div class="footer-links">
    <%= link_to "Cocktail", cocktails_path,class: "footer-links" %>
  </div>
  <div class="footer-links">
      <i class="fa fa-wine-glass"></i>
  </div>
  <div class="footer-links">
    This website is made by Martin and Xiaohu  <i class="fa fa-heart"></i>  at Le Wagon
  </div>
</div>






