<div class="navbar-wagon">
  <!-- Logo -->

  <%= link_to cocktails_path,class: "navbar-wagon-brand" do %>

    <%= image_tag "http://res.cloudinary.com/ihacker/image/upload/v1523098214/cocktail.jpg", alt:"Cocktal", class: "navbar-wagon-brand"%>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <!-- <%= link_to "Home", cocktails_path, class: "navbar-wagon-item navbar-wagon-link" %> -->


  </div>
</div>
